.container {
	width: 1037px;
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear:both;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}