/* Slideshow */
.slideshow {
	width: 100%;
	position: relative;
	margin: auto;

	&__item {
		@extend .fade;
		width: 100%;
	}

	&__image {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__text{
		font-size: 50px;
		font-family: $slideshow-font;
		font-weight: 900;
		color:$slideshow-text-color;
		text-align: center;
		width: 100%;
		padding-top: 100px;
	}

	&__dots {
		text-align:center;
		position: absolute;
		bottom: 17px;
		width: 100%;
	}

	&__dot {
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color:$slideshow-dots-color;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	  text-align:center;

	  &--active {
	  	background-color: $slideshow-dots-active-color;
	  }
	}	
}

.article{
	width: 322px;
	margin-right: 23px;
	margin-top: 25px;

	&__img{
		width: 100%;
	}

	&__title{
		font-family: $article-title-font;
		font-size: $article-title-size;
		color: $article-font-color;
		letter-spacing: 0px;
		line-height: 44px;
		margin: 0px;

	}

	&__text{
		font-size: $article-text-size;
		line-height: 34px;
		font-family: $article-text-font;
		margin-top: 11px;
		color: $article-text-color;
	}

	&__link{
		font-family: $article-link-font;
		color: $article-link-color;
		font-size: $article-link-size;
		text-decoration: none;
		font-weight: 700;
		margin-top: 8px;
	}
}

.load__more{
	background:$load-more-color;
	border-radius:4px;
	width:321px;
	height:60px;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	font-family: $load-more;
	font-weight: 500;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 58px;
}

.contact{

	&__form {
		width: 493px;
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		padding-bottom: 19px;
	}
	
	&__title{
		text-align: center;
		font-family: $contact-form-font;
		font-size: 50px;
		color: $contact-form-color;
		line-height: 36px;
		padding-top: 61px;
		padding-bottom: 59px;
		margin:0px;
	}

	&__label {
		display: block;
		font-size: 22px;
		color: $contact-form-color;
		font-family:$contact-form-font;
		line-height: 36px;
		margin-bottom: 8px;
	}

	&__input {
		width: 100%;
		height: 80px;
		border-radius: 4px;
		background: $contact-input-bg;
		border:none;
		font-size:22px;
		color:$contact-form-color;
		padding-left: 27px;
		padding-right: 27px;
		font-family: $contact-form-font;
		font-weight: 500;
		box-sizing: border-box;
	}

	&__text {
		background: $contact-input-bg;
		width: 100%;
		height: 202px;
		border-radius: 4px;
		border: none;
		font-family: $contact-form-font;
		font-weight: 500;
		font-size:22px;
		color:$contact-form-color;
		padding: 27px;
		box-sizing: border-box;
	}

	&__submit{
		width: 100%;
		height: 80px;
		background: $contact-submit-bg; 
		font-family: $contact-form-font;
		font-weight: 700;
		font-size: 22px;
		color: $contact-submit-color;
		border-radius: 4px;
		border: none;
	}
}